{
  "plugins": [
    "add-module-exports",
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current",
          "browsers": ["> 5%", "last 2 versions", "not ie < 11"]
        },
        "loose": true,
        "useBuiltIns": "usage"
      }
    ]
  ]
}
